<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <title>Cynthia</title>

        <link rel="shortcut icon" href="assets/images/gt_favicon.png">

        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
        <link rel="stylesheet" href="assets/css/main.css">

        <!-- Cynthia css -->
        <link rel="stylesheet" href="assets/css/owner.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <section class="container page-title">
            <h1>Cynthia<small> - BUILD QUERY</small></h1>
        </section>
        <section class="container">
            {% if message and message.get('type')=='error' and message.get('message')=='NO_CONN' %}
            <div class="alert alert-danger">
                <strong>Error:</strong> Cynthia was not able to connect to the database, please check your connection and retry
            </div>
            {% endif %}
            <form action="/results" method="post" id="query-form">
                <div class="row">
                    <div id="starting-node-container">
                        <!-- The content of this tag will be dynamically filled by javascript  -->
                    </div>
                    <div class="col-md-12">
                        <div class="form-group pull-left">
                                <a id="add-starting-node" class="btn btn-info" onclick="javascript:addStartingNode()"><i class="fa fa-plus"></i>&nbsp;Add starting node</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><span>Limit search</span></div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <select id="limit-select" class="form-control" name="limitSelect">
                                        <option value="" disabled selected>Select option</option>
                                        <option>No limit</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                        <option>250</option>
                                        <option>500</option>
                                        <option>1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><span>Species</span></div>
                            </div>
                            <div class="panel-body">
                                <div class="query-fields">
                                    <div id="species-selection" class="form-group">
                                        <div class="radio">
                                            <label><input value="*" type="radio" name="species-radio" checked="checked"/>All species</label>
                                        </div>
                                        {% for specie in species %}
                                        <div class="radio">
                                            <label><input value="{{specie}}" type="radio" name="species-radio"/>{{specie}}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default relations-panel">
                            <div class="panel-heading">
                                <div class="panel-title"><span>Relations</span></div>
                            </div>
                            <div class="panel-body">
                                <div class="query-fields row">
                                    <div class="form-group">
                                        {% for relation in relations %}
                                        <div class="checkbox relation-selection">
                                            <div class="checkbox col-xs-4">
                                                <label><input class="relation-checkbox" type="checkbox" value="{{relation}}">{{relation}}</label>
                                            </div>
                                            <div class="col-xs-8">
                                                <input class="form-control input-sm cutoff-value" type="text" name="cutoffValue" placeholder="Cut-off value"/>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 buttons">
                        <div class="form-group pull-left">
                            <a id="back" class="btn btn-default" href="/"><i class="fa fa-sign-out fa-flip-horizontal"></i>&nbsp;Exit</a>
                        </div>
                        <div class="form-group pull-right">
                            <a id="submit-query" class="btn btn-success disabled">Submit query&nbsp;<i class="fa fa-paper-plane"></i></a>
                        </div>
                        <div class="form-group pull-right">
                            <a id="import-button" class="btn btn-warning" data-toggle="modal" data-target="#import-modal"><i class="fa fa-cloud-upload"></i>&nbsp;Import</a>
                        </div>
                    </div>
                </div>
            </form>
            <form method="POST" id="serializedForm" action="/results">
                <input type="hidden" name="json"/>
            </form>
        </section>

        {% include 'form_components.html' %}
        {% include 'import_modal.html' %}

        <script src="assets/js/jquery/jquery-3.2.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/headroom.min.js"></script>
        <script src="assets/js/jQuery.headroom.min.js"></script>
        <script src="assets/js/template.js"></script>

        <script src="assets/js/owner/build_query.js"></script>
        <script src="assets/js/owner/import.js"></script>
    </body>
</html>