<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="lolli" >

        <title>Cynthia</title>

        <link rel="shortcut icon" href="assets/images/gt_favicon.png">

        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
        <link rel="stylesheet" href="assets/css/main.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <section class="container">
            <h1>Query page</h1>
            {% if message and message.get('type')=='error' and message.get('message')=='NO_CONN' %}
            <div class="alert alert-danger">
                <strong>Error:</strong> Cynthia was not able to connect to the database, please check your connection and retry
            </div>
            {% endif %}
            <form action="/results" method="post" id="query-form">
                <div class="row">
                    <div class="panel panel-default col-md-12">
                        <div class="panel-body">
                            <div id="query-fields">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="startingNode">Starting node:</label>
                                        <select class="form-control" id="startingNode" name="startingNode">
                                            <option value="" disabled selected>Select option</option>
                                            {% for label in node_labels %}
                                            <option>{{label}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button id="add-relation-filter" class="btn btn-warning">
                                            <i class="glyphicon glyphicon-plus"></i>&nbsp;Add relation
                                        </button>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button id="add-property-filter" class="btn btn-info">
                                            <i class="glyphicon glyphicon-plus"></i>&nbsp;Add filter
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default" id="property-filters-panel" hidden>
                                        <div class="panel panel-heading">
                                            Property filters
                                        </div>
                                        <div class="panel panel-body" id="property-filters">
                                            <!-- Inside this block it is put the form group from property_filter.html -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default" id="relation-filters-panel" hidden>
                                        <div class="panel panel-heading">
                                            Relation filters
                                        </div>
                                        <div class="panel panel-body" id="relation-filters">
                                            <!-- Inside this block it is put the form group from relations_filter.html -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-left">
                        <button id="submit-query" type="submit" class="btn btn-default">Query!</button>
                    </div>
                </div>
            </form>
        </section>



        <script src="assets/js/jquery/jquery-3.2.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/headroom.min.js"></script>
        <script src="assets/js/jQuery.headroom.min.js"></script>
        <script src="assets/js/template.js"></script>

        <script src="assets/js/ajax_utils/build_query.js"></script>
    </body>
</html>