<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="lolli" >

        <title>Cynthia</title>

        <link rel="shortcut icon" href="assets/images/gt_favicon.png">

        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
        <link rel="stylesheet" href="assets/css/main.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <section class="container">
            <h1>Query page</h1>
            {% if message and message.get('type')=='error' and message.get('message')=='NO_CONN' %}
            <div class="alert alert-danger">
                <strong>Error:</strong> Cynthia was not able to connect to the database, please check your connection and retry
            </div>
            {% endif %}
            <form action="/results" method="post" id="query-form">
                <div class="row">
                    <div id="starting-node-container"></div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><span>Species</span></div>
                            </div>
                            <div class="panel-body">
                                <div class="query-fields">
                                    <div id="species-selection" class="form-group">
                                        <div class="radio">
                                            <label><input value="*" type="radio" class="form-control" name="species-radio" checked="checked"/>All species</label>
                                        </div>
                                        {% for specie in species %}
                                        <div class="radio">
                                            <label><input value="{{specie}}" type="radio" class="form-control" name="species-radio"/>{{specie}}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><span>Relations</span></div>
                            </div>
                            <div class="panel-body">
                                <div class="query-fields">
                                    <div class="form-group">
                                        {% for relation in relations %}
                                        <div class="checkbox relation-selection">
                                            <label><input class="relation-checkbox" type="checkbox" value="{{relation}}">{{relation}}</label>
                                            <input class="pull-right cutoff-value" type="text" name="cutoffValue" placeholder="cutoff"/>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 buttons">
                        <div class="form-group pull-left">
                            <a id="add-starting-node" class="btn btn-success" onclick="javascript:addStartingNode()"><i class="fa fa-plus"></i>&nbsp;Add starting node</a>
                        </div>
                        <div class="form-group pull-right">
                            <a id="submit-query" class="btn btn-default disabled">Query!</a>
                        </div>
                    </div>
                </div>
            </form>
            <form method="POST" id="serializedForm" action="/results">
                <input type="hidden" name="json"/>
            </form>
        </section>


        <section id="form_parts" hidden>

            <div id="starting-node_pattern" class="col-md-12 starting-node-panel">
                <div class="panel panel-default container-fluid">
                    <div class="panel-heading row">
                        <div class="panel-title pull-left"><span>Starting node</span></div>
                        <div class="input-group pull-right">
                            <a class="btn btn-danger btn-xs" style="padding: 5px 10px;" title="Remove" onclick="javascript:removeStartingNode(this)">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control starting-node-select" onchange="javascript:fillPropertyOptions(this)" name="startingNode">
                                <option value="" disabled selected>Select option</option>
                                {% for label in node_labels %}
                                <option value="{{label}}">{{label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="properties-filters"></div>
                        <div class="form-group pull-left buttons">
                            <a class="btn btn-warning add-property-filter disabled" onclick="javascript:addPropertyFilter(this)"><i class="fa fa-plus"></i>&nbsp;Add property</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="filter_pattern" class="col-md-12 property-filter">
                <div class="panel panel-default container-fluid">
                    <div class="panel-heading row">
                        <div class="panel-title pull-left"><span>Property</span></div>
                        <div class="input-group pull-right">
                            <a class="btn btn-danger btn-xs" style="padding: 5px 10px;" title="Remove" onclick="javascript:removeFilter(this)">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span>Property Name</span>
                                <select class="form-control property-select" name="property">
                                    <option value="" disabled selected>Select option</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group property-values">
                                <span>Property value</span>
                                <br/>
                                <input type="text" name="propertyValue" placeholder="value"/>
                            </div>
                            <a class="btn btn-success btn-sm" style="padding: 5px 10px;" title="Remove" onclick="javascript:addPropertyField(this)">
                                <i class="fa fa-plus">&nbsp;Add value</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <script src="assets/js/jquery/jquery-3.2.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/headroom.min.js"></script>
        <script src="assets/js/jQuery.headroom.min.js"></script>
        <script src="assets/js/template.js"></script>

        <script src="assets/js/ajax_utils/build_query.js"></script>
    </body>
</html>