<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>Cynthia</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/build_query">Query Database</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Welcome to Cynthia</h1>
				<p class="tagline"></p>
				<p><a href="#about" class="btn btn-default btn-lg" role="button">READ ABOUT</a> <a href="/build_query" class="btn btn-action btn-lg" role="button">GO TO QUERY PAGE</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Search for deepest bonds in the living world</h2>
		<p class="text-muted">
			Cynthia allows to biologist and biotechnologist researcher to query biological databases with a simple and dynamic user-interface <br/>
			After specifying all the requests the results are graphically shown as a graph<br/>
			All the connection between searched elements will be drawn in a simple and clear view
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space" id="about">
		<div class="container">
			
			<h3 class="text-center thin">How Cynthia can help your researches</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Query Engine</h4></div>
					<div class="h-body text-center">
						<p>A built-in mechanism allows to build queries for the biological database and get results, in a completely transparent way for the user.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>User Friendly</h4></div>
					<div class="h-body text-center">
						<p>Specific knowledges about databases and query language are not required. The user has to simply select from a common and simple web form what he is searching for.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Dynamic</h4></div>
					<div class="h-body text-center">
						<p>The researches can be taken dynamically and the user is guided in the process of building the query. Many different searches can be performed on different elements, with different targets.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cloud fa-5"></i>Cloud-based</h4></div>
					<div class="h-body text-center">
						<p>Cynthia runs on a server just like a classic website. It is just necessary to have a web browser (just like the one you are using now!) and the URL of the application.</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Do I need informatic skills or knowledges?</h3>
				<p>Absolutely not! The informatic skills of the enGeneus developing team allowed us to build a tool that can be used by biologist and biotechnologist researchers letting them forget code and query languages!</p>
			</div>
			<div class="col-sm-6">
				<h3>Can I save my search results and see them later?</h3>
				<p>As former president Obama would say, yes, you can! You can export the cypher query, the raw query data in cynthia format, the whole offline results and the CSV data. You can only directly import the cypher query, the raw query data or the offline results</p>
			</div>
		</div>

		<!--<div class="jumbotron top-space">
			<h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
  		</div>-->

</div>	<!-- /container -->

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contacts</h3>
						<div class="widget-body">
							<p>
								<a href="https://www.univaq.it">University of L'Aquila</a><br/><br/>
                                <a href="mailto:#">gianluca.filippone@student.univaq.it</a><br/>
								<a href="mailto:#">lorenzo.delauretis@student.univaq.it</a><br/>
								<a href="mailto:#">claudio.disipio@student.univaq.it</a><br/>
								<a href="mailto:#">matteo.capodicasa@student.univaq.it</a><br/>
								<a href="mailto:#">vincenzo.battisti@student.univaq.it</a><br/>
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://github.com/enGeneus" target="_blank"><i class="fa fa-github fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">University of L'Aquila</h3>
						<div class="widget-body">
							<p><br/>
								Dipartimento di Ingegneria, Scienze dell'Informazione e Matematica<br/>
								Università degli Studi dell'Aquila<br/><br/>
								Via Vetoio, Coppito, 67100 L'Aquila</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="/build_query">Query Database</a> |
								<a href="#about">About</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2017, enGeneus. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery/jquery-3.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>